﻿
@{
    ViewData["Title"] = "Blocky";
    Layout = "~/Views/Shared/_LayoutBlockly.cshtml";
}

    <div class="">
        <div class="row">
            <div class="col-sm-12">
                <input type="hidden" id="projectId" value="@ViewData["ProjectId"]" />
                @*<div class="float-right form-inline">
            <button class="float-right btn btn-sm btn-info" type="button" onclick="uploadClick()">Upload</button> &nbsp;
            <button class="float-right btn btn-sm btn-info" type="button" onclick="resetClick()">Reset</button>&nbsp;
            <button class="float-right btn btn-sm btn-info" onclick="discard()">Discard</button>&nbsp;
            <button class="float-right btn btn-sm btn-info" onclick="saveCode()">Save Arduino Code</button>&nbsp;
            <button class="float-right btn btn-sm btn-info" onclick="save()">Save XML</button>&nbsp;
            <button class="float-right btn btn-sm btn-info" id="fakeload">Load XML</button>&nbsp;
            <input class="float-right btn btn-sm btn-info" type="file" id="load" style="display: none;" />&nbsp;
        </div>*@
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" role="tab" aria-controls="blocks" aria-selected="true" id="tab_blocks" href="#blocks" onclick="tabClick('blocks')">Blocks</a>
                </li>
                <li class="nav-item" style="display:block">
                    <a class="nav-link" data-toggle="tab" role="tab" aria-controls="arduino" aria-selected="false" id="tab_arduino" href="#arduino" onclick="tabClick('arduino')">Arduino</a>
                </li>
                <li class="nav-item" style="display:none">
                    <a class="nav-link" data-toggle="tab" role="tab" aria-controls="xml" aria-selected="false" id="tab_xml" href="#xml" onclick="tabClick('xml')">XML</a>
                </li>
                <li>
                    <button id="btnToolbox" class="btn btn-info btn-sm" style="margin-top:5px;" onclick="toolBoxShowHide()"><span class="fas fa-toolbox"></span></button>
                    <button id="btnSave" class="btn btn-primary btn-sm" style="margin-top:5px;" onclick="save()"><span class="fas fa-save"></span></button>
                    <button id="btnRun" class="btn btn-primary btn-sm" style="margin-top:5px;" onclick="runProject()"><span class="fas fa-play"></span><i class="fa fa-spinner fa-spin" style="display:none;"></i> Run</button>
                    @*<div class="btn-group dropright float-right" role="group" style="margin-top:5px; margin-left: 5px;">
                        <button id="btnGroupDrop1" type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Options
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <button class="dropdown-item btn btn-sm btn-info" type="button" onclick="uploadClick()">Upload</button>
                            <button class="dropdown-item btn btn-sm btn-info" type="button" onclick="resetClick()">Reset</button>
                            <button class="dropdown-item btn btn-sm btn-info" onclick="discard()">Discard</button>
                            <button class="dropdown-item btn btn-sm btn-info" onclick="saveArduinoCode()">Save Arduino Code</button>
                            <button class="dropdown-item btn btn-sm btn-info" onclick="save()">Save XML</button>
                            <button class="dropdown-item btn btn-sm btn-info" id="fakeload">Load XML</button>
                            <input class="dropdown-item btn btn-sm btn-info" type="file" id="load" style="display: none;" />
                        </div>
                    </div>*@
                </li>
            </ul>
            </div>
        </div>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="blocks" role="tabpanel" aria-labelledby="tab_blocks">
                <div id="content_area" style="width:100%;">
                    <div id="blocklyDiv" style="width:100%;">
                        <div id="content_blocks" class="content" style="width:100%;"></div>
                        <xml id="toolbox" style="display: none">
                            <category name="Logic">
                                <block type="controls_if"></block>
                                <block type="logic_compare"></block>
                                <block type="logic_operation"></block>
                                <block type="logic_negate"></block>
                                <block type="logic_null"></block>
                            </category>
                            <category name="Control">
                                <block type="base_delay">
                                    <value name="DELAY_TIME">
                                        <block type="math_number">
                                            <field name="NUM">1000</field>
                                        </block>
                                    </value>
                                </block>
                                <block type="controls_for">
                                    <value name="FROM">
                                        <block type="math_number">
                                            <field name="NUM">1</field>
                                        </block>
                                    </value>
                                    <value name="TO">
                                        <block type="math_number">
                                            <field name="NUM">10</field>
                                        </block>
                                    </value>
                                </block>
                                <block type="controls_whileUntil"></block>
                            </category>
                            <category name="Math">
                                <block type="math_number"></block>
                                <block type="math_arithmetic"></block>
                                <block type="base_map">
                                    <value name="DMAX">
                                        <block type="math_number">
                                            <field name="NUM">180</field>
                                        </block>
                                    </value>
                                </block>
                            </category>
                            <category name="Text">
                                <block type="text"></block>
                            </category>
                            <category name="Variables" custom="VARIABLE"></category>
                            <category name="Functions" custom="PROCEDURE"></category>
                            <sep></sep>
                            <category name="Input/Output">
                                <block type="inout_highlow"></block>
                                <block type="inout_digital_write"></block>
                                <block type="inout_digital_read"></block>
                                <block type="inout_analog_write">
                                    <value name="NUM">
                                        <block type="math_number">
                                            <field name="NUM">0</field>
                                        </block>
                                    </value>
                                </block>
                                <block type="inout_analog_read"></block>
                                <block type="serial_print">
                                    <value name="CONTENT">
                                        <block type="text">
                                            <field name="TEXT"></field>
                                        </block>
                                    </value>
                                </block>
                                <block type="inout_tone">
                                    <value name="NUM">
                                        <block type="math_number">
                                            <field name="NUM">440</field>
                                        </block>
                                    </value>
                                </block>
                                <block type="inout_notone"></block>
                                <block type="inout_buildin_led"></block>
                            </category>
                            <category name="Servo">
                                <block type="servo_move">
                                    <value name="DEGREE">
                                        <block type="math_number">
                                            <field name="NUM">0</field>
                                        </block>
                                    </value>
                                </block>
                                <block type="servo_read_degrees"></block>
                            </category>
                            <category name="Grove Analog">
                                <block type="grove_rotary_angle"></block>
                                <block type="grove_temporature_sensor"></block>
                                <block type="grove_sound_sensor"></block>
                                <block type="grove_thumb_joystick"></block>
                            </category>
                            <category name="Grove">
                                <block type="grove_led"></block>
                                <block type="grove_button"></block>
                                <block type="grove_relay"></block>
                                <block type="grove_tilt_switch"></block>
                                <block type="grove_piezo_buzzer"></block>
                                <block type="grove_pir_motion_sensor"></block>
                                <block type="grove_line_finder"></block>
                                <block type="grove_rgb_led"></block>
                                <block type="grove_ultrasonic_ranger"></block>
                            </category>
                            <category name="Grove LCD">
                                <block type="grove_serial_lcd_print">
                                    <value name="TEXT">
                                        <block type="text">
                                            <field name="TEXT"></field>
                                        </block>
                                    </value>
                                    <value name="TEXT2">
                                        <block type="text">
                                            <field name="TEXT"></field>
                                        </block>
                                    </value>
                                    <value name="DELAY_TIME">
                                        <block type="math_number">
                                            <field name="NUM">1000</field>
                                        </block>
                                    </value>
                                </block>
                                <block type="grove_serial_lcd_power"></block>
                                <block type="grove_serial_lcd_effect"></block>
                            </category>
                            <category name="Grove Motor">
                                <block type="grove_motor_shield"></block>
                            </category>
                        </xml>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="arduino" role="tabpanel" aria-labelledby="tab_arduino">
                <textarea id="content_arduino" class="content" style="width:100%; height:inherit" readonly></textarea>
            </div>
            <div class="tab-pane fade" id="xml" role="tabpanel" aria-labelledby="tab_xml">
                <textarea id="content_xml" class="content" style="width:100%; height:inherit" readonly></textarea>
            </div>
        </div>
    </div>
