﻿@model CodeSchoolServer.Models.ArduinoModel
@using CodeSchoolServer.Enum;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <form asp-controller="Arduino" enctype="multipart/form-data" asp-action="GetSourceCode" asp-route-returnurl="" method="post" role="form">
        <div class="row col-12">
            <div class="form-group col-md-6">
                <label>Project Name: </label>
                <input type="text" asp-for="ProjectName" />
            </div>
            <div class="form-group col-md-6">
                <label>Board Type: </label>
                <select asp-for="BoardType" asp-items="Html.GetEnumSelectList<BoardTypes>()">
                    <option selected="selected" value="">Please select Board</option>
                </select>
            </div>
        </div>
        <div class="row col-12">
            <div class="col-6">
                <div class="form-group">
                    @*<form asp-controller="Arduino" asp-action="GetSourceCode" asp-route-returnurl="" method="post" role="form">*@

                    <textarea asp-for="SourceCode"></textarea>
                    </br>
                    <input name="FormType" type="hidden" value="SourceCode">
                    <button class="btn btn-primary" type="submit">Compile</button>
                    @*</form>*@
                </div>

            </div>
            <div class="col-6">
                @*<form method="post" enctype="multipart/form-data" asp-controller="Arduino" asp-action="FileUpload">*@
                <div class="form-group">
                    <div class="col-md-10">
                        <p>Upload one file using this form:</p>
                        <input type="file" name="SourceFile" asp-for="SourceFile" class="btn btn-outline-info" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Upload" class="btn btn-success" />
                    </div>
                </div>
                @*</form>*@
                <button class="btn btn-success" type="button" onclick="location.href='@Url.Action("blocky")'" >blocky</button>
            </div>
        </div>
    </form>