﻿html, body {
    height: 100%;
}

body {
    background-color: #fff;
    font-family: sans-serif;
    margin: 0;
    overflow: hidden;
}

h1 {
    font-weight: normal;
    font-size: 140%;
    margin-left: 5px;
    margin-right: 5px;
}

/* Tabs */
#tabRow > td {
    border: 1px solid #ccc;
}

td.tabon {
    border-bottom-color: #ddd !important;
    background-color: #ddd;
    padding: 5px 19px;
}

td.taboff {
    cursor: pointer;
    padding: 5px 19px;
}

    td.taboff:hover {
        background-color: #eee;
    }

td.tabmin {
    border-top-style: none !important;
    border-left-style: none !important;
    border-right-style: none !important;
}

td.tabmax {
    border-top-style: none !important;
    border-left-style: none !important;
    border-right-style: none !important;
    width: 99%;
    text-align: right;
}

table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    border: none;
}

td {
    padding: 0;
    vertical-align: top;
}

.content {
    visibility: hidden;
    margin: 0;
    padding: 1ex;
    position: absolute;
    direction: ltr;
}

pre.content {
    overflow: scroll;
}

#content_blocks {
    padding: 0;
}

.blocklySvg {
    border-top: none !important;
}

#content_xml {
    resize: none;
    outline: none;
    border: none;
    font-family: monospace;
    overflow: scroll;
}

button {
    padding: 1px 1em;
    font-size: 90%;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #eee;
    color: black;
}

    button.launch {
        border: 1px solid #d43;
        background-color: #d43;
        color: white;
    }

    button:active {
        border: 1px solid blue !important;
    }

    button:hover {
        box-shadow: 2px 2px 5px #888;
    }
