﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CodeSchoolServer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Materialize, Prettify, and Ardublockly CSS -->
    <link rel="stylesheet" href="~/lib/blocky/ardublockly/materialize/materialize.css" media="screen,projection">
    <link rel="stylesheet" href="~/lib/blocky/ardublockly/prettify/arduino.css">
    <link rel="stylesheet" href="~/lib/blocky/ardublockly/ardublockly.css" media="screen,projection">

    <!-- Ardublockly - These three files contain the compress version -->
    <script src="~/lib/blocky/blockly/blockly_compressed.js"></script>
    <script src="~/lib/blocky/blockly/blocks_compressed.js"></script>
    <script src="~/lib/blocky/blockly/arduino_compressed.js"></script>
    <!-- To use the uncompressed version comment out the above and comment in the ones below -->
    <!--script src="../blockly/blockly_uncompressed.js"></script>
    <script src="../blockly/blocks/logic.js"></script>
    <script src="../blockly/blocks/loops.js"></script>
    <script src="../blockly/blocks/math.js"></script>
    <script src="../blockly/blocks/text.js"></script>
    <script src="../blockly/blocks/lists.js"></script>
    <script src="../blockly/blocks/colour.js"></script>
    <script src="../blockly/blocks/variables.js"></script>
    <script src="../blockly/blocks/procedures.js"></script>
    <script src="../blockly/blocks/arduino/io.js"></script>
    <script src="../blockly/blocks/arduino/map.js"></script>
    <script src="../blockly/blocks/arduino/procedures.js"></script>
    <script src="../blockly/blocks/arduino/serial.js"></script>
    <script src="../blockly/blocks/arduino/servo.js"></script>
    <script src="../blockly/blocks/arduino/spi.js"></script>
    <script src="../blockly/blocks/arduino/stepper.js"></script>
    <script src="../blockly/blocks/arduino/time.js"></script>
    <script src="../blockly/blocks/arduino/tone.js"></script>
    <script src="../blockly/blocks/arduino/variables.js"></script>
    <script src="../blockly/generators/arduino.js"></script>
    <script src="../blockly/generators/arduino/boards.js"></script>
    <script src="../blockly/generators/arduino/io.js"></script>
    <script src="../blockly/generators/arduino/lists.js"></script>
    <script src="../blockly/generators/arduino/logic.js"></script>
    <script src="../blockly/generators/arduino/loops.js"></script>
    <script src="../blockly/generators/arduino/map.js"></script>
    <script src="../blockly/generators/arduino/math.js"></script>
    <script src="../blockly/generators/arduino/procedures.js"></script>
    <script src="../blockly/generators/arduino/serial.js"></script>
    <script src="../blockly/generators/arduino/servo.js"></script>
    <script src="../blockly/generators/arduino/spi.js"></script>
    <script src="../blockly/generators/arduino/stepper.js"></script>
    <script src="../blockly/generators/arduino/text.js"></script>
    <script src="../blockly/generators/arduino/time.js"></script>
    <script src="../blockly/generators/arduino/tone.js"></script>
    <script src="../blockly/generators/arduino/variables.js"></script-->
    <!-- Default language js files, user selection appended to head on load -->
    <script src="~/lib/blocky/blockly/msg/js/en.js"></script>
    <script src="~/lib/blocky/ardublockly/msg/en.js"></script>

</head>
<body>
    @*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CodeSchoolServer</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Arduino" asp-action="Index">Arduino</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>*@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - CodeSchoolServer - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Desktop version of Ardublockly JS, needs to be loaded first. -->
    <script src="~/lib/blocky/ardublockly/ardublockly_desktop.js"></script>
    <!-- jQuery and Materialize JS -->
    @*<script src="js_libs/jquery-2.1.3.min.js"></script>*@
    <script src="~/lib/blocky/ardublockly/materialize/materialize.js"></script>
    <!-- FileSaver JS -->
    <script src="~/lib/blocky/ardublockly/js_libs/FileSaver.min.js"></script>
    <!-- JS Diff -->
    <script src="~/lib/blocky/ardublockly/js_libs/diff.js"></script>
    <!-- Prettify JS -->
    <script src="~/lib/blocky/ardublockly/prettify/prettify.js"></script>
    <!-- Ardublockly app -->
    <script src="~/lib/blocky/ardublockly/ardublocklyserver_ajax.js"></script>
    <script src="~/lib/blocky/ardublockly/ardublockly_lang.js"></script>
    <script src="~/lib/blocky/ardublockly/ardublockly_design.js"></script>
    <script src="~/lib/blocky/ardublockly/ardublockly_toolbox.js"></script>
    <script src="~/lib/blocky/ardublockly/ardublockly_blockly.js"></script>
    <script src="~/lib/blocky/ardublockly/ardublockly.js"></script>
    <script>
        window.addEventListener('load', function load(event) {
            window.removeEventListener('load', load, false);
            Ardublockly.init();
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
