﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CodeSchoolServer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet">
    <link href="~/lib/toastr/toastr.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/lib/blocky/css/blocklyStartup.css" />*@


    <script type="text/javascript" src="~/lib/blocky/blockly_compressed.js"></script>
    <script type="text/javascript" src="~/lib/blocky/blocks_compressed.js"></script>
    <script type="text/javascript" src="~/lib/blocky/arduino_compressed.js"></script>
    <script type="text/javascript" src="~/lib/blocky/msg/js/en.js"></script>
    <script type="text/javascript" src="~/lib/blocky/apps/blocklyduino/Blob.js"></script>
    <script type="text/javascript" src="~/lib/blocky/apps/blocklyduino/spin.js"></script>
    <script type="text/javascript" src="~/lib/blocky/apps/blocklyduino/FileSaver.min.js"></script>
    <script type="text/javascript" src="~/lib/blocky/apps/blocklyduino/blockly_helper.js"></script>
    @*<script type="text/javascript" src="~/lib/blocky/js/blocklyStartup.js"></script>*@

    
    

</head>
<body onload="init()" style="margin-bottom: 0px; margin-right: 0px;">
    @*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CodeSchoolServer</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Arduino" asp-action="Index">Arduino</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>*@
    <div class="container-fluid" style="margin-left:0px; padding-left:0px; margin-right:1px;">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer"></footer>
    @*<footer class="border-top footer text-muted">
            <div>
                &copy; 2020 - CodeSchoolServer - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/blocky/js/blocklyStartup.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
